@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Questions", new {area = ""})" method="post" id="logoutForm" class="form-inline">
        <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        <button type="submit" class="btn btn-link">Logout</button>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </ul>
}