<a asp-controller="Manage" asp-action="SetLang" asp-route-culture="ru-RU" asp-route-returnUrl="@Context.Request.Path">RU</a>
<a asp-controller="Manage" asp-action="SetLang" asp-route-culture="en-GB" asp-route-returnUrl="@Context.Request.Path">EN</a>
<a asp-controller="Manage" asp-action="SetLang" asp-route-culture="uk-UA" asp-route-returnUrl="@Context.Request.Path">UK</a>