@inject IViewLocalizer Localizer

@{
    var user = (User)Model;
    ViewData["Title"] = user.UserName;
}

<h1>@user.UserName</h1>
@if (user.Photo == null)
{
    <img src="~/img/NoAvatar.png" />
}
else
{
    <img src="~/Uploads/@user.Photo" />
}

<h2>@Localizer["Rating"]:@user.Rating</h2>