@inject IViewLocalizer Localizer

@{
    var user = (User)Model;
    ViewData["Title"] = user.UserName;
}

<h1>@user.UserName</h1>
@if (user.Photo == null)
{
    <img src="~/img/NoAvatar.png" />
}
else
{
    <img src="~/Uploads/@user.Photo" style="width:300px;height:300px"/>
}

<h2>@Localizer["Rating"]:@user.Rating.Sum(r=>r.Amount)</h2>