@inject IViewLocalizer Localizer

@{
    var user = (User) Model;
    ViewData["Title"] = user.UserName;
}

<h1>@user.UserName</h1>
@if (user.Photo == "NoAvatar.jpg")
{
    <img src="~/img/NoAvatar.jpg"/>
}
else
{
    <img src="~/Uploads/@user.Photo"/>
}

<h2>@Localizer["Rating"]:@user.Rating</h2>