@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["Title"]</h2>
<div>
    <p>
        @Localizer["Text"] <a asp-controller="Account" asp-action="Login">@Localizer["Link"]</a>.
    </p>
</div>