@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>
<p>
     @Localizer["Text"]<a asp-controller="Account" asp-action="Login">@Localizer["Link"]</a>.
</p>