@inject IViewLocalizer Localizer

@{ 
    ViewData["Title"] = Localizer["Title"];
}

<form method="post">
    <textarea name="text"></textarea><br />
    <select name="Topic">
        @foreach (var item in Model)
        {
            <option>@item.Title</option>
        }
    </select>
    <button type="submit">@Localizer["Title"]</button>
</form>

