@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <textarea name="Text">@Model.Text</textarea>
    <input type="hidden" name="Qid" value="@Model.Id"/><br />
    <button type="submit">Edit</button>
</form>

