@model List<Comment>
@using System.Collections.Generic;
@using AskAbout.Models;
@using AskAbout.Data;


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "WriteComment";

}

@foreach (var item in Model)
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            @item.Date
        </div>
        <div class="panel-body">
            @item.Text
        </div>
    </div>
    }

    <form asp-controller="Comment" asp-action="WriteComment" method="post" class="form-horizontal">
        <textarea name="Comment"></textarea>
        <input type="hidden" name="Qid" value="@ViewData["Question"]" /><br />
        <input type="hidden" name="Rid" value="@ViewData["Replies"]" /><br />
        <button type="submit">Add comment</button>
    </form>

