@model Question

<div class="media">
    <img src="~/Uploads/Question/@Model.Attachment" class="img-thumbnail"/>
    <div class="media-body">
        <h1 class="text-center">@Model.Title</h1>
        <p class="text-center">@Model.Text</p>
    </div>
</div>

@foreach (var reply in Model.Replies)
{
    await Html.RenderPartialAsync("~/Views/Replies/Details.cshtml", reply);
}

@{
    await Html.RenderPartialAsync("~/Views/Replies/Create.cshtml", new Reply {Question = Model});
}