@model AskAbout.Models.Like

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Like</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IsLiked" class="control-label"></label>
                <input asp-for="IsLiked" class="form-control" />
                <span asp-validation-for="IsLiked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <select asp-for="QuestionId" class ="form-control" asp-items="ViewBag.QuestionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReplyId" class="control-label"></label>
                <select asp-for="ReplyId" class ="form-control" asp-items="ViewBag.ReplyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CommentId" class="control-label"></label>
                <select asp-for="CommentId" class ="form-control" asp-items="ViewBag.CommentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
