@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add";
}

<form method="post">
    <textarea name="text"></textarea>
    <button type="submit">Add</button>
    <select name="topic">
        @foreach(var item in Model)
        {
            <option>@item.Title</option>
        }
    </select>
</form>

