@{
    ViewData["Title"] = "Login";
}

@{ 
    foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-body">@item.Text</div>
            <div class="panel-footer">@item.Date</div>
        </div>
    }
}

<a asp-area="" asp-controller="Questions" asp-action="Add">Add question</a>