@{
    ViewData["Title"] = "Login";
}

@{ 
    foreach (var item in Model)
    {
        <div class="container">@item</div>
    }
}

<a asp-area="" asp-controller="Questions" asp-action="Add">Add question</a>