@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reply";
}
@{
    string question = (string)ViewData["Question"];
}

<form method="post">

    <div class="panel-body">@question</div>
    <textarea name="text"></textarea>
    <button type="submit">Add Answer</button>
</form>


