@inject IViewLocalizer Localizer

@model Reply

@section Styles{
    <link href="~/css/Replies/Create.css" rel="stylesheet" />
}

<form asp-controller="Replies" asp-action="Create" enctype="multipart/form-data" class="ui reply form">
    <div class="field">
        <div class="panel-heading">
            <h4>@Localizer["Reply"]</h4>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@Model.Question.Id" asp-for="@Model.Question.Id" />
        <div class="field">
            <textarea asp-for="Text"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <label>
            <label class="ui right labeled icon button" style="width: 10%">
                Picture
                <i class="upload icon"></i>
                <input type="file" name="file" accept="image/jpeg,image/png,image/gif" style="display: none" />
            </label>
            <input type="submit" value="@Localizer["Reply"]" class="ui black basic icon button" />
        </label>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}