@model Reply

<form asp-controller="Replies" asp-action="Create" class="card">
    <div class="media-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group m-2">
            <textarea asp-for="Text" class="form-control" placeholder="Comment"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <button type="submit" class="col btn btn-primary align-self-end">Create</button>
        </div>
    </div>
</form>