@model Reply

<img src="Uploads/User/@Model.User.Photo"/>
<div class="media-body">
    <h5>@Model.User.UserName</h5>
    @Model.Text
    @foreach (var comment in Model.Comments)
    {
            await Html.RenderPartialAsync("~/Views/Comments/Details.cshtml", comment)
    }
</div>