@model EditReplyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Reply</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Reply.Id" />
        <input type="hidden" asp-for="Reply.Attachment" />
        <input type="hidden" asp-for="qid" />
        <div class="form-group">
            <label asp-for="Reply.Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Reply.Text" class="form-control"></textarea>
                <span asp-validation-for="Reply.Text" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Reply.Attachment" class="col-md-2 control-label"></label>            
            <div class="col-md-10">
                <input type="file" name="file" asp-for="Reply.Attachment" />
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Questions" asp-action="Details" asp-route-id="@Model.qid">Back to question</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
